@import "base/vars";

.flags{

	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: $header-h;

	.flags-inner{
		position: relative;
		width: 100%;
		height: 100%;
	}
	

}

.flag-point{
	position: absolute;
	z-index: 6;
	width: $flag-size;
	padding: $flag-spacing;
	transition: transform 0.3s ease;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.flag-point:hover{
	-webkit-transform: translateY(-20px) !important;
			transform: translateY(-20px) !important;
}