@import "base/vars";

.header-container{
	position: absolute;
	z-index: 128;
	width: 100%;
	overflow: hidden;
	top:0px;
}

.header{
	
	position: relative;
	height: $header-h;
	width: 100%;
	background-color: $color-bg-light;
	border-bottom: 1px solid $color-outline;

	.header-item-wrapper{

		position: absolute;
		display: inline-block;
		height: 100%;

		&:before{
			content: '';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		& > *{
			display: inline-block;
			vertical-align: middle;
		}

	}

	.header-item-wrapper.menu{
		padding: 0 $menu-spacing-l;	
		border-right: 1px solid $color-outline;
		cursor: pointer;

		.menu-text{
			margin-left: $menu-spacing-s;
		}
	}

	.header-item-wrapper.title{
		padding: 0 $menu-spacing-s;	
		text-align: center;
		width: 100%;
	}

	.header-item-wrapper.link{
		right: 0;
		padding: 0 $menu-spacing-l;	
		background: $color-primary;
		color: $color-text-light;
		cursor: pointer;
	}

}

.menu-toggle-small{
	position: fixed;
    z-index: 128;
    height: 50px;
    width: 50px;
    padding: 25px;
    cursor: pointer;
}