@import "base/vars";

.lines{

	position: fixed;
	overflow-y: hidden;
	z-index: 1;
	width: 100%;
	height: 100%;

	.line{
		float: left;
		width: 1px;
		height: 100%;
		margin-left: -webkit-calc(10% - 1px);
	    margin-left:    -moz-calc(10% - 1px);
	    margin-left:	   	 calc(10% - 1px);
		background: $color-outline;
	}
	

}