@import "base/vars";
@import "textbox";
@import "flags-body";

.main-scroll-body{

	position: absolute;
	width: 100%;
	height: 3500px;
	overflow-x: hidden;

	embed{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 12;
		top: $header-h;
		left: 50%;
		-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
	}

}

.sponsor{

	.download{
		position: absolute;
		z-index: 12;
	    top: 200px;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    		transform: translateX(-50%);
	    
	    background: white;
	    padding: 40px;
	    border: 1px solid black;
	    width: auto;
	    
	}

	.main-scroll-body{
		height: 2000px;
		overflow: hidden;
	}

}
