@import "base/vars";

.main-wrapper{
	display: inline-block;
	overflow: hidden;
	width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.overlay{
	position: fixed;
	overflow: hidden;
	z-index: 152;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background 0.3s ease;
}

.sidebar{
	position: fixed;
	height: 0px;
	width: 0px;
	overflow: hidden;
	-webkit-transform: translateX(-100%);
			transform: translateX(-100%);

	transition: transform 0.3s ease;

	#close{
		display: inline-block;
	    position: absolute;
	    right: 0;
	    top: -5px;
	    padding: $menu-spacing-l;
	    cursor: pointer;
	    font-size: 20px;
	}

	h4:hover{
		cursor: pointer;
		text-decoration: underline;
	}
}

.sidebar-enabled{

	overflow: hidden;

	.main-wrapper{
		-webkit-transform: translateX($sidebar-w);
				transform: translateX($sidebar-w);
	}

	.overlay{
		pointer-events: initial;
		background: rgba(0,0,0,0.7);
	}

	.sidebar{
		height: auto;
		width: $sidebar-w;
		padding: $menu-spacing-l;
		-webkit-transform: translateX(0);
				transform: translateX(0);

		a{
			display: inline-block;
		}

		h4{
			margin-bottom: $menu-spacing-l;
		}
	}

}

@media only screen and (max-width: $bp-mobile){

	.main-wrapper{
		height: 50px;
	}

	.sidebar-enabled{
		.main-wrapper{
			-webkit-transform: translateX(100%);
					transform: translateX(100%);
		}

		.sidebar{
			width: 100%;
		}
	}

}