@import "base/vars";

.main-content-container{
	z-index: -2;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 70px;
	padding-left: 0px;
	padding-right: 0px;

	.sponsor-title-cover{
		text-align: left;
		width: 100%;
		height: 550px;
		background-color: $color-primary;

		.sponsor-title-sponsorUs {

			padding-top: 220px;

			h1 {
				text-align: center;
				font: $font-header;
				color: white;
				font-weight: 800px;
				font-size: 85px;
			}
		}
	}
	p{
		color: black;
		font-size: 20px;
		line-height: 30px;
				
		}

	.sponsor-section-wrapper{
		width: 100%;
		margin: 0px;
		margin-top: 100px;
		margin-bottom: 60px; 
		padding: 0px;
		background: white;
		column-count: 2;

		.sponsor-title-text-left {

			position: relative;
			margin-left: 60px;
			text-align: left;
			padding-left: 30px;
			
		}

		.sponsor-paragraph-right{

			padding-top: 40px;
			padding-right: 30px;
		}

		.sponsor-paragraph-left{

			margin-left: 30px;
			
			padding: 30px;
		}

		.sponsor-title-text-right {

			position: relative;
			margin-right: 0px;
			text-align: left;
			padding: 30px;
			
		}

		


	}


	h2{
			margin-top: 30px;
			font: $font-header;
			color: $color-primary;
			font-weight: 800px;
			font-size: 40px;

	}
	li {

		color: black;
		font-size: 20px;
		line-height: 30px;
	}
}