@import "base/vars";

.strong{
	font-family: $font-header;
	font-weight: bold;
	color: $color-primary;
}

.textbox{

	position: absolute;
	z-index: 116;
    left: 50%;
    -webkit-transform: translateX(-50%);
    		transform: translateX(-50%);

	background: $color-bg-light;
	padding: $spacing-side;
	width: $textbox-width;
	border: 1px solid $color-text-dark;
	color: $color-text-dark;

	.strong{
		line-height: 4rem;
	}

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

}

.textbox-flat{
	position: absolute;
	z-index: 23;
	pointer-events: none;
	width: 40%;

	h2{
		font-size: 100px;
		line-height: 100px;
	}
}


#t-1{
	top: 800px;
	left: $spacing-side;
}

#t-2{
	top: 1400px;
	left: auto;
	right: 10%;
}

#t-3{
	top: 1600px;
	text-align: right;
	right: $spacing-side;

	h2{
		direction: rtl;
	}
}

#t-4{
	top: 1800px;
	left: 10%;
}

#t-5{
	top: 1800px;
	width: 100%;
	text-align: center;

	.sponsor-imgs{
		margin-top: $spacing-main;
	}

	img{
		padding: $spacing-main;
		max-height: 60px;
	}
}

#t-6{

	top: 2300px;
	left: 15%;
	width: 80%;

	a{
		pointer-events: auto;
		display: inline-block;
		cursor: pointer;
		padding: $spacing-main;
		border-left: 1px solid black;
	}

	a:hover{
		border: 1px solid black;
		border-left: 1px solid rgba(0,0,0,0);
    	
	}

	h2, .resources{
		display: inline-block;
		font-size: left;
		width: 50%;
	}

	.resources{
		width: 30%;
	}

	.resource{
		display: inline-block;
	}

	.subheading{
	    position: absolute;
	    left: 0;
	    -webkit-transform: rotate(90deg);
	    		transform: rotate(90deg);
	    transform-origin: 0;
	}

}

@media only screen and (max-width:  $bp-mobile){
	#t-1{
		left: 0;
		width: 100%;
		padding: $spacing-mobile-side;
	}

	#t-3{
		top: 1500px;
		left: 0;
		width: 100%;
		padding: $spacing-mobile-side;
	}

	#t-5{
		top: 2200px;

		img{
			max-width: 60%;
		}
	}

	#t-6{
		top: 3000px;
		width: 100%;
		padding: $spacing-mobile-side;
		left: 0;

		a{
			padding: 0;
			padding-bottom: $spacing-main;
			border: none;
		}

		a:hover{
			border: none;
		}

		h2{
			margin-bottom: $spacing-main;
		}

		h2, .resources{
			width: 100%;
		}

		h3{
			font-size: 2rem;
		}

		.subheading{
			transform: none;
    		position: relative;
		}
	}

	.strong{
		font-size: 40px !important;
		line-height: 40px !important;
	}
}
