* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Sen";
  src: url("../assets/font/sen-regular.eot");
  src: url("../assets/font/sen-regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/sen-regular.svg#Sen") format("svg");
  font-style: normal;
  font-weight: normal; }
html, body {
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 400;
  background-color: #fbf9f9;
  color: #000000; }
  html, html div, body, body div {
    box-sizing: border-box; }
  html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Sen", sans-serif; }
  html h1, html h2, body h1, body h2 {
    font-weight: 400; }
  html h3, html h4, html h5, html h6, body h3, body h4, body h5, body h6 {
    font-weight: 300; }
  html h1, body h1 {
    font-size: 6rem; }
  html h2, body h2 {
    font-size: 4rem; }
  html h3, body h3 {
    font-size: 3rem; }
  html h4, body h4 {
    font-size: 1.5rem; }
  html h5, body h5 {
    font-size: 1rem; }
  html h6, body h6 {
    font-size: 0.8rem; }
  html p, body p {
    font-size: 1.5rem;
    font-family: "Sen", sans-serif; }
  html small, body small {
    font-size: 0.66667em; }
  html .article, body .article {
    line-height: 1.8;
    max-width: 36rem;
    margin: auto; }
    html .article h1, html .article h2, html .article h3, html .article h4, html .article h5, html .article h6, body .article h1, body .article h2, body .article h3, body .article h4, body .article h5, body .article h6 {
      font-weight: 700; }
      html .article h1 small, html .article h2 small, html .article h3 small, html .article h4 small, html .article h5 small, html .article h6 small, body .article h1 small, body .article h2 small, body .article h3 small, body .article h4 small, body .article h5 small, body .article h6 small {
        text-transform: uppercase;
        font-size: 0.42em; }
    html .article p, body .article p {
      margin: 2rem 0.25rem; }
  html a, body a {
    color: #000000;
    text-decoration: inherit; }
  @media only screen and (max-width: 700px) {
    html .mobile-hidden, body .mobile-hidden {
      display: none !important; } }

@font-face {
  font-family: "Sen";
  src: url("../assets/font/sen-regular.eot");
  src: url("../assets/font/sen-regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/sen-regular.svg#Sen") format("svg");
  font-style: normal;
  font-weight: normal; }
.main-wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; }

.overlay {
  position: fixed;
  z-index: 140;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background 0.3s ease; }

.sidebar {
  position: fixed;
  height: 0px;
  width: 0px;
  overflow: hidden; }
  .sidebar #close {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -5px;
    padding: 20px;
    cursor: pointer;
    font-size: 20px; }
  .sidebar h4:hover {
    cursor: pointer;
    text-decoration: underline; }

.sidebar-enabled {
  overflow: hidden; }
  .sidebar-enabled .main-wrapper {
    -webkit-transform: translateX(250px);
    transform: translateX(250px); }
  .sidebar-enabled .overlay {
    pointer-events: initial;
    background: rgba(0, 0, 0, 0.7); }
  .sidebar-enabled .sidebar {
    height: auto;
    width: 250px;
    padding: 20px; }
    .sidebar-enabled .sidebar a {
      display: inline-block; }
    .sidebar-enabled .sidebar h4 {
      margin-bottom: 20px; }

@media only screen and (max-width: 700px) {
  .main-wrapper {
    height: 50px; }

  .sidebar-enabled .main-wrapper {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  .sidebar-enabled .sidebar {
    width: 100%; } }
@font-face {
  font-family: "Sen";
  src: url("../assets/font/sen-regular.eot");
  src: url("../assets/font/sen-regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/sen-regular.svg#Sen") format("svg");
  font-style: normal;
  font-weight: normal; }
.header-container {
  position: absolute;
  z-index: 128;
  width: 100%;
  overflow: hidden; }

.header {
  position: relative;
  height: 70px;
  width: 100%;
  background-color: #fbf9f9;
  border-bottom: 1px solid #eeeeee; }
  .header .header-item-wrapper {
    position: absolute;
    display: inline-block;
    height: 100%; }
    .header .header-item-wrapper:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .header .header-item-wrapper > * {
      display: inline-block;
      vertical-align: middle; }
  .header .header-item-wrapper.menu {
    padding: 0 20px;
    border-right: 1px solid #eeeeee;
    cursor: pointer; }
    .header .header-item-wrapper.menu .menu-text {
      margin-left: 10px; }
  .header .header-item-wrapper.title {
    padding: 0 10px;
    text-align: center;
    width: 100%; }
  .header .header-item-wrapper.link {
    right: 0;
    padding: 0 20px;
    background: #2f48ab;
    color: #fbf9f9;
    cursor: pointer; }

.menu-toggle-small {
  position: fixed;
  z-index: 128;
  height: 50px;
  width: 50px;
  padding: 25px;
  cursor: pointer; }

@font-face {
  font-family: "Sen";
  src: url("../assets/font/sen-regular.eot");
  src: url("../assets/font/sen-regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/sen-regular.svg#Sen") format("svg");
  font-style: normal;
  font-weight: normal; }
.flags {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 70px; }
  .flags .flags-inner {
    position: relative;
    width: 100%;
    height: 100%; }
  .flags img {
    position: absolute;
    z-index: 6;
    width: 15px;
    padding: 20px;
    transition: transform 0.3s ease; }
  .flags img:hover {
    -webkit-transform: translateY(-20px) !important;
    transform: translateY(-20px) !important; }

@font-face {
  font-family: "Sen";
  src: url("../assets/font/sen-regular.eot");
  src: url("../assets/font/sen-regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/sen-regular.svg#Sen") format("svg");
  font-style: normal;
  font-weight: normal; }
.splash {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding-top: 70px;
  pointer-events: none; }
  .splash #splash-container {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/worldmap.svg");
    background-size: 90%;
    background-position: 50%;
    background-repeat: no-repeat; }
  .splash .title-text {
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .splash .title-text h1 {
      font-family: "Product Sans", Arial, sans-serif;
      font-size: 250px;
      line-height: 230px;
      color: #000000; }
    .splash .title-text h4 {
      font-size: 15px;
      letter-spacing: 22.5px;
      padding: 10px;
      padding-left: 20px;
      padding-right: 0px;
      border-top: 1px solid black;
      border-bottom: 1px solid black; }

@media only screen and (max-width: 700px) {
  .title-text h1 {
    font-size: 125px !important;
    line-height: 115px !important; }
  .title-text h4 {
    font-size: 7.5px !important;
    letter-spacing: 11.25px !important; } }
@font-face {
  font-family: "Sen";
  src: url("../assets/font/sen-regular.eot");
  src: url("../assets/font/sen-regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/sen-regular.svg#Sen") format("svg");
  font-style: normal;
  font-weight: normal; }
.lines {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%; }
  .lines .line {
    float: left;
    width: 1px;
    height: 100%;
    margin-left: -webkit-calc(10% - 1px);
    margin-left: -moz-calc(10% - 1px);
    margin-left: calc(10% - 1px);
    background: #eeeeee; }

@font-face {
  font-family: "Sen";
  src: url("../assets/font/sen-regular.eot");
  src: url("../assets/font/sen-regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/sen-regular.svg#Sen") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Sen";
  src: url("../assets/font/sen-regular.eot");
  src: url("../assets/font/sen-regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/sen-regular.svg#Sen") format("svg");
  font-style: normal;
  font-weight: normal; }
.strong {
  font-family: "Product Sans", Arial, sans-serif;
  font-weight: bold;
  color: #2f48ab; }

.textbox {
  position: absolute;
  z-index: 24;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fbf9f9;
  padding: 40px;
  width: 300px;
  border: 1px solid #000000;
  color: #000000; }
  .textbox .strong {
    line-height: 4rem; }

.textbox-flat {
  position: absolute;
  z-index: 23; }
  .textbox-flat h2 {
    font-size: 100px;
    line-height: 100px; }

#t-1 {
  top: 800px;
  left: 80px; }

#t-2 {
  top: 1400px;
  left: 30%; }

#t-3 {
  top: 1600px;
  text-align: right;
  right: 80px; }

#t-4 {
  top: 1800px;
  left: 70%; }

@media only screen and (max-width: 700px) {
  #t-1 {
    left: 20px; }

  #t-3 {
    right: 20px;
    top: 1200px; }

  .strong {
    font-size: 40px !important;
    line-height: 40px !important; } }
@font-face {
  font-family: "Sen";
  src: url("../assets/font/sen-regular.eot");
  src: url("../assets/font/sen-regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/sen-regular.svg#Sen") format("svg");
  font-style: normal;
  font-weight: normal; }
.flags-large img {
  position: absolute;
  width: 200px;
  z-index: 128; }

.main-scroll-body {
  position: absolute;
  width: 100%;
  height: 4000px;
  overflow-x: hidden; }

/*# sourceMappingURL=main.css.map */
