@import "vars";

html, body {
  font-size       : $typography-base-size;
  font-family     : sans-serif;
  line-height     : 1.5;
  letter-spacing  : normal;
  font-weight     : 400;
  background-color: $color-bg-light;
  color           : $color-text-dark;

  &, div{
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
  }
  h1, h2 {
    font-weight: 600;
  }
  h3, h4, h5, h6 {
    font-weight: 300;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.8rem;
  }
  small {
    font-size: (2 / 3) + 0em;
  }

  .article {
    line-height: 1.8;
    max-width  : 36rem;
    margin     : auto;

    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;

      small {
        text-transform: uppercase;
        font-size     : 0.42em;
      }
    }

    p {
      margin: 2rem 0.25rem;
    }
  }

  a {
    color          : $color-accent;
    text-decoration: inherit;
  }

  @media only screen and (max-width: $bp-mobile){
    .mobile-hidden{
      display: none !important;
    }
  }

}
