@import 'mixins/fontface';
//@include fontFace('AmCap','../assets/font/AMCAP_Eternal');
@include fontFace('Sen', '../assets/font/sen-regular');

// Colors //

$color-primary		: #2f48ab;
$color-secondary	: #e7dd45;
$color-accent		: #000000;
$color-outline		: #eeeeee;

$color-bg-light		: #fbf9f9;
$color-bg-dark		: #000000;

$color-text-light	: #fbf9f9;
$color-text-dark	: #000000;

// Typography //

$font-header			: 'Product Sans', Arial, sans-serif;
$font-body				: 'Sen', sans-serif;
$typography-base-size	: 12px;
$typography-header		: 250px;
$typography-header-line : $typography-header - 20;
$typography-sub			: 15px;
$sub-l-spacing			: $typography-sub * 1.5;


$typography-header-mobile: $typography-header * 0.5;
$typography-header-line-mobile: $typography-header-line * 0.5;

$typography-sub-mobile: $typography-sub * 0.5;
$sub-l-spacing-mobile: $sub-l-spacing * 0.5;


// Breakpoints //

$bp-mobile		: 700px;


// Header //

$header-h		: 70px;
$menu-spacing-s	: 10px;
$menu-spacing-l	: 20px;

// Body //

$spacing-main   : 40px;
$spacing-side   : 80px;
$spacing-mobile-side: 20px;

// Flags //
$flag-size 		: 15px;
$flag-spacing 	: 40px;

// TextBox //

$textbox-width	: 300px;
$textbox-shadow : 0 0 20px 3px rgba(0,0,0,0.1);
