
// Colors //

$color-primary		: #6fb9b0;
$color-secondary	: #000000;
$color-accent		: #000000;
$color-outline		: #eeeeee;

$color-bg-light		: #fbf9f9;
$color-bg-dark		: #000000;

$color-text-light	: #fbf9f9;
$color-text-dark	: #000000;

// Typography //

$typography-base-size	: 12px;

// Breakpoints //

$bp-mobile		: 700px;


// Header //

$header-h		: 70px;
$menu-spacing-s	: 10px;
$menu-spacing-l	: 20px;
